.App {
    text-align: center;
}

.displays-background {
    background-image: url(./DSC_0998.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page {
    background-color: rgba(100, 100, 100, 0.75) !important;
}

.page-paper {
    width: 100%;
    height: 100%;
}
